In [1]:
# Import the pandas module and alias it as 'pd'
import pandas as pd

 # List Example

In [2]:
# Create a list
list_of_numbers = [12, 0, 55, 12, 12]

 ## Type Checking

In [3]:
# Check type of list_of_numbers
type(list_of_numbers)

list

In [4]:
# Check type of an element in list_of_numbers
type(list_of_numbers[0])

int

In [28]:
list_of_numbers

[12, 0, 55, 12, 12]

In [5]:
# Create a Series from the list
series_of_numbers = pd.Series(list_of_numbers)

In [6]:
# Check type of series_of_numbers
type(series_of_numbers)

pandas.core.series.Series

In [7]:
# Print the Series
print(series_of_numbers)

0    12
1     0
2    55
3    12
4    12
dtype: int64

 # Series Attributes

In [8]:
# Return the data type of the elements in the series
series_of_numbers.dtypes

dtype('int64')

In [9]:
# Return the element at index 0 using iloc
series_of_numbers.iloc[0]

12

In [10]:
# Return the element at index 0 using list syntax
series_of_numbers[0]

12

In [29]:
series_of_numbers[3]

12

 # Series Methods

In [11]:
# Get the count of the number of times a value occurs in a Series
series_of_numbers.value_counts()

12    3
0     1
55    1
dtype: int64

In [12]:
# Get the unique values of a Series
series_of_numbers.unique()

array([12,  0, 55])

In [30]:
# A function to triple any value
def triple_value(some_value):
    return some_value * 3


# Apply triple value to series_of_numbers
series_of_numbers.apply(triple_value)

0     36
1      0
2    165
3     36
4     36
dtype: int64

 # Dictionary Example

In [32]:
# A dictionary of stock values
stock_values = {"MSFT": 160, "AAPL": "75.09", "TWTR": 32.3}
stock_values

{'MSFT': 160, 'AAPL': '75.09', 'TWTR': 32.3}

In [15]:
# Create series object from dictionary
stock_series = pd.Series(stock_values)

print(stock_series)

MSFT      160
AAPL    75.09
TWTR     32.3
dtype: object

 ## Datatype conversion

In [33]:
# Return the data type of the elements in the series
stock_series.dtypes

dtype('float64')

In [17]:
# Apply float to each item in the series
stock_series = stock_series.apply(float)

In [18]:
# Return the data type of the elements in the series
stock_series.dtypes
print(stock_series)

MSFT    160.00
AAPL     75.09
TWTR     32.30
dtype: float64

 ## Different Methods to Access Values

In [19]:
# Access value at index location 0 using iloc
print(stock_series.iloc[0])

# Access value at index location 0 using list syntax
print(stock_series[0])

# Access value at index MSFT
print(stock_series["MSFT"])

160.0
160.0
160.0

 ## Appending Data to Series

In [20]:
# Create a new stock series for google stock. The dictionary is passed in directly.
google_stock_series = pd.Series({"GOOGL": 1754.40})
google_stock_series

GOOGL    1754.4
dtype: float64

In [21]:
# Append the new data without reassignment
stock_series.append(google_stock_series)

/var/folders/l0/h_gss7x135q_77tt_20mbsyc0000gn/T/ipykernel_1127/3670825698.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stock_series.append(google_stock_series)

MSFT      160.00
AAPL       75.09
TWTR       32.30
GOOGL    1754.40
dtype: float64

In [22]:
# Append the new data with reassignment
stock_series = stock_series.append(google_stock_series)

print(stock_series)

MSFT      160.00
AAPL       75.09
TWTR       32.30
GOOGL    1754.40
dtype: float64

/var/folders/l0/h_gss7x135q_77tt_20mbsyc0000gn/T/ipykernel_1127/27815877.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stock_series = stock_series.append(google_stock_series)

 ## Removing Data from Series

In [23]:
# Drop MSFT in-place
stock_series.drop("MSFT", inplace=True)

print(stock_series)

AAPL       75.09
TWTR       32.30
GOOGL    1754.40
dtype: float64

 ## Updating Series Data

In [24]:
# Update using list syntax
stock_series[1] = 35

print(stock_series)

AAPL       75.09
TWTR       35.00
GOOGL    1754.40
dtype: float64

In [25]:
# Update using named index label
stock_series["AAPL"] = 50

print(stock_series)

AAPL       50.0
TWTR       35.0
GOOGL    1754.4
dtype: float64

 ## Iterating Over Series

In [26]:
# Print prices
for price in stock_series:
    print(price)

50.0
35.0
1754.4

In [35]:
# Print symbol and price
for symbol, price in stock_series.items():
    print(f" {symbol} - {price}")

 AAPL - 50.0
 TWTR - 35.0
 GOOGL - 1754.4